In [1]:
a = [1,2,5,3,56,55,7]
a

[1, 2, 5, 3, 56, 55, 7]

In [2]:
for x in a:
    print(x)

1
2
5
3
56
55
7

In [3]:
a

[1, 2, 5, 3, 56, 55, 7]

In [4]:
name = ["Ram","Hari","Shyam","Sabin","Rita"]
name

['Ram', 'Hari', 'Shyam', 'Sabin', 'Rita']

In [5]:
for x in name:
    print(x)

Ram
Hari
Shyam
Sabin
Rita

In [6]:
name[0]

'Ram'

In [10]:
i=0
while i < 5:
    print("name[",i,"]:: ", name[i])
    i=i+1

name[ 0 ]::  Ram
name[ 1 ]::  Hari
name[ 2 ]::  Shyam
name[ 3 ]::  Sabin
name[ 4 ]::  Rita

In [22]:
numlist = [23,1,445,66,9,10,99,45,34,77,40]

numlist.sort(reverse=True)
numlist

[445, 99, 77, 66, 45, 40, 34, 23, 10, 9, 1]

In [23]:
numlist.sort()
numlist

[1, 9, 10, 23, 34, 40, 45, 66, 77, 99, 445]

In [24]:
numlist

[1, 9, 10, 23, 34, 40, 45, 66, 77, 99, 445]

In [25]:
def defaultValue(country = "Nepal"):
    print("I am from " + country)
defaultValue()
defaultValue("India")
defaultValue("Japan")

I am from Nepal
I am from India
I am from Japan